footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  height: 140px;
  margin: 40px 0 0 0;

  & .footer-img {
      width: 80px;
      margin: 18px 14px;
    }
}

ul{
  list-style-type: none;
  margin: 0;
  padding-left: 18px;
}

li a{
  list-style-type: none;
  text-decoration: none;
  color: whitesmoke;
  font-family: $second-font;
  font-size: 16px;

    &:hover{
      color: rgba(255, 255, 255, 0.748);
    }
}

// change margin <i> on footer
.fa-utensils {
  margin: 0 12px 0 0;
}

.fa-handshake-angle {
  margin: 0 6px 0 0;
}
