// font-family: 'Shrikhand', cursive;

@import 'mixins.scss';
@import 'variables.scss';
@import 'spinner-page';
@import 'header';
@import 'cards';
@import 'footer';
@import 'restaurant-menu.scss';
@import 'contact';

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// desktop responsive
@media only screen and (min-width: 768px){
  .logo-spinner-page{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #fonctionnement{
    width: 50%;
  }
  #restaurants{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant-title{
    width: 85%;
    font-size: 24px;
  }
  .before-page{
    display: none;
  }
  .card-on-index{
    width: 40%!important;
  }
  .container-the-menus{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .little-container:nth-child(3){
    margin-bottom: 18px;
  }
  .little-container{
    width: 40%;
  }
  footer{
    align-items: center;
  }
  .footer-img{
    width: 130px!important;
  }
  .contain-footer-links{
    flex-direction: row!important;
    align-items: center;
  }
}
