// font-family: 'Shrikhand', cursive;


// colors
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

@import 'spinner-page';
@import 'header';
@import 'cards';
@import 'footer';
@import 'restaurant-menu.scss';
@import 'contact';

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}



#fonctionnement{
  width: 85%;
  height: 250px;
  margin: 34px auto 70px auto;

  h2{
    font-family: 'Shrikhand';
  }

  .contain-choices-btn{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }

  .word-spacing{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }

  span {
    padding: 4px 8px;
    margin-left: -28px;
    color: white;
    font-family: 'Roboto';
    font-size: 12px;
    background-color: $primary;
    border-radius: 50%;
  }

  .choice-btn{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bold;
    color: black;
    width: 90%;
    text-align: center;
    background-color: #F6F6F6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 18px 18px;
    border-radius: 18px;
    transition-property: opacity;
    transition: all 400ms;

    &:hover {
      background-color: #F5EDFF;
    }
  }

  .color-i{
    color: #7E7E7E;
  }

  .choice-btn:hover i {
    color: $primary;
  }
}
