@mixin width90{
  width: 90%;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein2 {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein3 {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loader2 {
  0% {
    opacity: 100%;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
  }

  99% {
    opacity: 0;
    z-index: -1000;
  }

  100% {
    opacity: 0;
    z-index: -1000;
    width: 0;
    height: 0;
  }
}

@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
    opacity: 100%;
  }

  100% {
    transform: rotate(360deg);
    opacity: 100%;
  }
}
