.before-page {
  position: absolute;
  left: 3%;
  top: 3%;
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.banniere {
  height: 300px;
  width: 100%;

  & .banniere-img {
      height: 300px;
      width: 100%;
      object-fit: cover;
      position: absolute;
      z-index: -1;
    }
}


.contain-menus {
  background-color: #F6F6F6;
  margin-top: -50px;
  border-radius: 32px 32px 0 0;
}

.title-menu-france {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;

  & h1{
    font-family: $first-font;
  }
}

.container-the-menus {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.little-container {
  @include width90;
  background-color: transparent;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;

  &  .title-of-menu {
      font-family: 'Shrikhand';
      border-bottom: 2px solid $tertiary;
      width: 10%;
    }
}


.contain-order-btn {
  text-align: center;
  margin: 50px auto 70px auto;
}

.order-btn {
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
  font-weight: bold;
  padding: 14px 32px;
  border-radius: 30px;
  background: linear-gradient(0deg, rgba(147, 86, 220, 1) 24%, rgba(255, 121, 218, 1) 100%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition-property: opacity;
  transition: all 400ms;

    &:hover {
      opacity: 0.8;
    }
}





.menu-link-anim{
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  transition: all 400ms;
  cursor: pointer;
}

.menu-link-anim:hover .checkbox {
  width: 60px;
  height: 54px;
  background-color: green;
  display: flex;
  justify-content: center;
  border-radius: 0 20% 20% 0;

  & .rotation {
    display: flex;
    place-items: center;
  }

  & .rond {
    display: flex;
    place-items: center;
    animation: spin;
    animation-duration: 1s;
  }
}

.plats{
  overflow: hidden;
  padding: 8px;

    & strong{
      font-family: 'Roboto';
    }

    & p {
      font-family: "Roboto", sans-serif;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 0;
    }
}

  .align-price{
    display: flex;
    align-items: flex-end;
    margin: 8px 4px;
    font-family: 'Roboto';
  }

.checkbox{
  width: 0px;
  transition-duration: 1s;
  font-size: 1.5em;

    & i{
      display: none;
      color: white;
    }
}


// change width est pour certain éléments uniquement.
.change-width {
  @include width90;
}

.change-width-2 {
  margin: 0 4px 8px 0;
}

.container-the-menus>div:first-child {
  transition: all 300ms;
  animation: fadein 1s ease-in-out;
}

.container-the-menus>div:nth-child(2) {
  transition: all 300ms;
  animation: fadein2 3s ease-in-out;
}

.container-the-menus>div:nth-child(3) {
  transition: all 400ms;
  animation: fadein3 5s ease-in-out;
}
