.before-page {
  position: absolute;
  left: 3%;
  top: 3%;
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.banniere {
  height: 300px;
  width: 100%;
}

.banniere-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.contain-menus {
  background-color: #F6F6F6;
  margin-top: -50px;
  border-radius: 32px 32px 0 0;
}

.title-menu-france {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 8px;
}

.container-the-menus {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.little-container {
  width: 90%;
  background-color: transparent;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;

  .title-of-menu {
    font-family: 'Shrikhand';
    border-bottom: 2px solid $tertiary;
    width: 10%;
  }

  .menu-link-anim {
    text-decoration: none;
    color: black;
    // transition-property: opacity;
    // transition: all 400ms;
    // animation: fadein 2s ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }

  .plats {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    background-color: #FFFFFF;
    // padding: 12px;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .contain-plat-infos{
    padding: 12px 0 12px 12px;
    display: flex;
    flex-direction: column;
  }

  .supp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-link-anim:hover .rotation {
  display: block;
  transition: 0.4s;
}

// .rotation {
//   display: none;
//   width: 50px;
//   background-color: green;
// }


.contain-order-btn {
  text-align: center;
  margin: 50px auto 70px auto;

  .order-btn {
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 14px 32px;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(147, 86, 220, 1) 24%, rgba(255, 121, 218, 1) 100%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition-property: opacity;
    transition: all 400ms;

    &:hover {
      opacity: 0.8;
    }
  }
}

.no-whitespace {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}


@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.menu-link-anim-test{
  border-radius: 10px;
  // box-shadow: 1px 1px 10px 1px #e2e2e2;
  background-color: #FFFFFF;
  // overflow: hidden;
  display: flex;
  justify-content: space-between;
  // color: black;
  transition-property: opacity;
  transition: all 400ms;
  animation: fadein 2s ease-in-out;
  cursor: pointer;

  .plats-test{
    // width: 100%;
    overflow: hidden;
    // min-height: 35px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    padding: 8px;

      & b{
        font-family: 'Roboto';
      }

      & p {
        font-family: "Roboto", sans-serif;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: 0;
      }
    }

  .change-width{
    width: 90%;
  }

  .change-width-2{
    margin: 0 4px 8px 0;
  }

  .align-price{
    display: flex;
    align-items: flex-end;
    margin: 8px 4px;
    font-family: 'Roboto';
  }

  .checkbox{
    width: 0px;
    transition-duration: 1s;
    font-size: 1.5em;

      & i{
        display: none;
        color: white;
      }
  }
}


.menu-link-anim-test:hover .checkbox {
  width: 60px;
  height: 54px;
  background-color: green;
  display: flex;
  justify-content: center;
  border-radius: 0 20% 20% 0;

  // @media (max-width: 1000px) {
  //   width: 65px;
  // }

  .rotation-test {
    display: flex;
    place-items: center;
  }

  .rond {
  display: flex;
  place-items: center;
  // transform-origin: center;
  animation: spin;
  animation-duration: 1s;
  }
}


// .test-plats{
//   background-color: whitesmoke;
//     border-radius: 10px;
//     box-shadow: 1px 1px 10px 1px #e2e2e2;
//     margin: 10px;
//     overflow: hidden;
//     display: flex;
//     justify-content: space-between;
//     cursor: pointer;
// }

// .spacediv{
//   width: 100%;
//     overflow: hidden;
//     min-height: 35px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     padding: 8px;
// }

// .spacediv > p{
//     font-family: "Roboto", sans-serif;
//       text-overflow: ellipsis;
//       overflow: hidden;
//       white-space: nowrap;
//     }

// .align-price{
//     display: flex;
//       align-items: flex-end;
//       margin-bottom: 8px;
//       margin-right: 8px;
//     }

// .check{
//   width: 0px;
//     transition-duration: 1s;
//     font-size: 1.5em;
//     i{
//       display: none;
//         place-items: center;
//         color: white;
//     }
// }

// .rotation{
//     margin: 0;
//       padding: 0;
//       text-decoration: none;
//       list-style-type: none;
//     }

//         .test-plats:hover .check {
//           width: 90px;
//           height: 51px;
//           background-color: black;
//           display: flex;
//           justify-content: center;
//           border-radius: 0 20% 20% 0;

//           @media (max-width: 1000px) {
//             width: 65px;
//           }

//           & .rotation {
//             display: flex;
//             place-items: center;
//           }

//           & .rond {
//             display: flex;
//             place-items: center;
//             transform-origin: center;
//             animation: spin;
//             animation-duration: 1s;
//           }

//           @media (min-width: 1000px) {
//             height: 90px;
//             border-radius: 0 10% 10% 0;
//           }
//         }
