.welcome-omf {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-family: 'Shrikhand';
  animation: loader2 3s;
  animation-fill-mode: both;
  animation-timing-function: step-end;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);

  & h1{
    text-align: center;
  }
}

.load-spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 24px solid rgba(147, 86, 220, 1);
  border-right: 24px solid rgba(255, 121, 218, 1);
  border-bottom: 24px solid rgba(147, 86, 220, 1);
  border-left: 24px solid rgba(255, 121, 218, 1);
  animation: ring 0.8s infinite;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.logo-spinner-page {
  width: 60%;
  text-align: center;
}

.loading-page-img {
  background-color: black;
  padding: 8px;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
