body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 50px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
nav .nav-img {
  width: 160px;
}

.localisation {
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

header {
  background-color: #F6F6F6;
  text-align: center;
  padding: 32px 0;
}
header h1 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-size: 26px;
}
header .p-in-header {
  font-family: "Roboto";
  margin: 18px 0 32px 0;
}
header .discover-btn {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  padding: 12px 18px;
  border-radius: 30px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 24%, rgb(255, 121, 218) 100%);
  transition-property: opacity;
  transition: all 400ms;
}
header .discover-btn:hover {
  opacity: 0.8;
}

#fonctionnement {
  width: 85%;
  height: 250px;
  margin: 34px auto 70px auto;
}
#fonctionnement h2 {
  font-family: "Shrikhand";
}
#fonctionnement .contain-choices-btn {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
#fonctionnement .word-spacing {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
#fonctionnement span {
  padding: 4px 8px;
  margin-left: -28px;
  color: white;
  font-family: "Roboto";
  font-size: 12px;
  background-color: #9356DC;
  border-radius: 50%;
}
#fonctionnement .choice-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: bold;
  color: black;
  width: 90%;
  text-align: center;
  background-color: #F6F6F6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 18px 18px;
  border-radius: 18px;
  transition-property: opacity;
  transition: all 400ms;
}
#fonctionnement .choice-btn:hover {
  background-color: #F5EDFF;
}
#fonctionnement .color-i {
  color: #7E7E7E;
}
#fonctionnement .choice-btn:hover i {
  color: #9356DC;
}

#restaurants {
  width: 95%;
  margin: auto;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
#restaurants .restaurant-title {
  width: 90%;
  margin: 28px 0 0 0;
}
#restaurants .card-on-index {
  position: relative;
  text-decoration: none;
  color: black;
  width: 90%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-property: opacity;
  transition: all 400ms;
}
#restaurants .card-on-index:hover {
  box-shadow: rgba(116, 116, 116, 0.16) 0px 1px 4px, rgb(120, 119, 119) 0px 0px 0px 3px;
}
#restaurants .new-green {
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: #99E2D0;
  color: #26977d;
  padding: 6px 12px;
  border-radius: 2px;
}
#restaurants .card-img {
  width: 100%;
  height: 160px;
  border-radius: 18px 18px 0 0;
  object-fit: cover;
}
#restaurants .infos-in-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 8px 0;
}
#restaurants p {
  margin: 0;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  height: 140px;
  margin: 40px 0 0 0;
}
footer .footer-img {
  width: 80px;
  margin: 18px 14px;
}
footer .contain-footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 120px;
  width: 90%;
  margin: auto;
}
footer .footer-link {
  text-decoration: none;
  font-family: "Roboto";
  color: white;
}
footer .footer-link > i {
  margin: 0 12px 0 0;
}

.before-page {
  position: absolute;
  left: 3%;
  top: 3%;
  font-size: 18px;
  cursor: pointer;
}

.banniere {
  height: 300px;
  width: 100%;
}

.banniere-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.contain-menus {
  background-color: #F6F6F6;
  margin-top: -50px;
  border-radius: 32px 32px 0 0;
}

.title-menu-france {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 8px;
}

.container-the-menus {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.little-container {
  width: 90%;
  background-color: transparent;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.little-container .title-of-menu {
  font-family: "Shrikhand";
  border-bottom: 2px solid #99E2D0;
  width: 10%;
}
.little-container .menu-link-anim {
  text-decoration: none;
  color: black;
  transition-property: opacity;
  transition: all 400ms;
  animation: fadein 2s ease-in-out;
}
.little-container .menu-link-anim:hover {
  opacity: 0.9;
}
.little-container .plats {
  font-family: "Roboto";
  background-color: #FFFFFF;
  padding: 12px;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.little-container .supp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-link-anim:hover .checkbox {
  display: block;
  transition: 0.4s;
}

.checkbox {
  display: none;
}

.contain-order-btn {
  text-align: center;
  margin: 50px auto 70px auto;
}
.contain-order-btn .order-btn {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  padding: 14px 32px;
  border-radius: 30px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 24%, rgb(255, 121, 218) 100%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition-property: opacity;
  transition: all 400ms;
}
.contain-order-btn .order-btn:hover {
  opacity: 0.8;
}

.no-whitespace {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.contain-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background: linear-gradient(0deg, rgb(147, 86, 220) 24%, rgb(255, 121, 218) 100%);
}

.welcome-omf {
  text-align: center;
  font-family: "Shrikhand";
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.load-spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 24px solid rgb(147, 86, 220);
  border-right: 24px solid rgb(255, 121, 218);
  border-bottom: 24px solid rgb(147, 86, 220);
  border-left: 24px solid rgb(255, 121, 218);
  animation: spin 1.2s infinite;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.logo-spinner-page {
  width: 60%;
  text-align: center;
}

.loading-page-img {
  background-color: black;
  padding: 8px;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
