@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Shrikhand&display=swap");
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loader2 {
  0% {
    opacity: 100%;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
  }
  99% {
    opacity: 0;
    z-index: -1000;
  }
  100% {
    opacity: 0;
    z-index: -1000;
    width: 0;
    height: 0;
  }
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
    opacity: 100%;
  }
  100% {
    transform: rotate(360deg);
    opacity: 100%;
  }
}
.welcome-omf {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-family: "Shrikhand";
  animation: loader2 2s;
  animation-fill-mode: both;
  animation-timing-function: step-end;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.welcome-omf h1 {
  text-align: center;
}

.load-spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 24px solid rgb(147, 86, 220);
  border-right: 24px solid rgb(255, 121, 218);
  border-bottom: 24px solid rgb(147, 86, 220);
  border-left: 24px solid rgb(255, 121, 218);
  animation: ring 0.8s infinite;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.logo-spinner-page {
  width: 60%;
  text-align: center;
}

.loading-page-img {
  background-color: black;
  padding: 8px;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

header {
  background-color: #F6F6F6;
  text-align: center;
}
header nav {
  height: 50px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
header nav .nav-img {
  width: 160px;
}

.link-logo {
  display: flex;
}

.localisation {
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "Roboto";
  font-weight: bold;
}

.title {
  padding: 24px 0 12px 0;
}
.title h1 {
  margin: 0;
  font-family: "Shrikhand";
  font-size: 26px;
}

.p-in-header {
  font-family: "Roboto";
  margin: 18px 18px 32px 0;
}

.discover-btn {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  padding: 12px 18px;
  border-radius: 30px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 24%, rgb(255, 121, 218) 100%);
  transition-property: opacity;
  transition: all 400ms;
}
.discover-btn:hover {
  opacity: 0.8;
}

.add-padding {
  padding: 0 0 50px 0;
}

#fonctionnement {
  width: 85%;
  height: 250px;
  margin: 34px auto 70px auto;
}
#fonctionnement h2 {
  font-family: "Shrikhand";
}

.contain-choices-btn {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.word-spacing {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

span {
  padding: 4px 8px;
  margin-left: -28px;
  color: white;
  font-family: "Roboto";
  font-size: 12px;
  background-color: #9356DC;
  border-radius: 50%;
}

.choice-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: bold;
  color: black;
  width: 90%;
  text-align: center;
  background-color: #F6F6F6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 18px 18px;
  border-radius: 18px;
  transition-property: opacity;
  transition: all 400ms;
}
.choice-btn:hover {
  background-color: #F5EDFF;
}

.color-i {
  color: #7E7E7E;
}

.choice-btn:hover i {
  color: #9356DC;
}

#restaurants {
  width: 95%;
  margin: auto;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.restaurant-title {
  width: 90%;
  margin: 28px 0 0 0;
  font-family: "Shrikhand";
}

.card-on-index {
  position: relative;
  text-decoration: none;
  color: black;
  width: 90%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-property: box-shadow;
  transition: all 400ms;
}
.card-on-index:hover {
  box-shadow: rgb(147, 86, 220) 0px 1px 4px, rgb(255, 121, 218) 0px 0px 0px 3px;
}

.new-green {
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: #99E2D0;
  color: #26977d;
  padding: 6px 12px;
  border-radius: 2px;
}

.card-img {
  width: 100%;
  height: 160px;
  border-radius: 18px 18px 0 0;
  object-fit: cover;
}

.infos-in-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 8px 0;
}
.infos-in-card p {
  margin: 0;
  font-family: "Roboto";
}

.hearth {
  font-size: 21px;
  cursor: pointer;
  padding: 0.2em;
}

.hearth::before {
  transition-property: color;
  transition: all 0.5s;
}

.hearth:hover::before {
  color: rgb(147, 86, 220);
  font-weight: bold;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  height: 140px;
  margin: 40px 0 0 0;
}
footer .footer-img {
  width: 80px;
  margin: 18px 14px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 18px;
}

li a {
  list-style-type: none;
  text-decoration: none;
  color: whitesmoke;
  font-family: "Roboto";
  font-size: 16px;
}
li a:hover {
  color: rgba(255, 255, 255, 0.748);
}

.fa-utensils {
  margin: 0 12px 0 0;
}

.fa-handshake-angle {
  margin: 0 6px 0 0;
}

.before-page {
  position: absolute;
  left: 3%;
  top: 3%;
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.banniere {
  height: 300px;
  width: 100%;
}
.banniere .banniere-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.contain-menus {
  background-color: #F6F6F6;
  margin-top: -50px;
  border-radius: 32px 32px 0 0;
}

.title-menu-france {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
}
.title-menu-france h1 {
  font-family: "Shrikhand";
}

.container-the-menus {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.little-container {
  width: 90%;
  background-color: transparent;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.little-container .title-of-menu {
  font-family: "Shrikhand";
  border-bottom: 2px solid #99E2D0;
  width: 10%;
}

.contain-order-btn {
  text-align: center;
  margin: 50px auto 70px auto;
}

.order-btn {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  padding: 14px 32px;
  border-radius: 30px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 24%, rgb(255, 121, 218) 100%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition-property: opacity;
  transition: all 400ms;
}
.order-btn:hover {
  opacity: 0.8;
}

.menu-link-anim {
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  transition: all 400ms;
  cursor: pointer;
}

.menu-link-anim:hover .checkbox {
  width: 60px;
  height: 54px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  border-radius: 0 20% 20% 0;
}
.menu-link-anim:hover .checkbox .rotation {
  display: flex;
  place-items: center;
}
.menu-link-anim:hover .checkbox .rond {
  display: flex;
  place-items: center;
  animation: spin;
  animation-duration: 1s;
}

.plats {
  overflow: hidden;
  padding: 8px;
}
.plats strong {
  font-family: "Roboto";
}
.plats p {
  font-family: "Roboto";
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

.align-price {
  display: flex;
  align-items: flex-end;
  margin: 8px 4px;
  font-family: "Roboto";
}

.checkbox {
  width: 0px;
  transition-duration: 1s;
  font-size: 1.5em;
}
.checkbox i {
  display: none;
  color: white;
}

.change-width {
  width: 90%;
}

.change-width-2 {
  margin: 0 4px 8px 0;
}

.container-the-menus > div:first-child {
  transition: all 300ms;
  animation: fadein 1s ease-in-out;
}

.container-the-menus > div:nth-child(2) {
  transition: all 300ms;
  animation: fadein 2s ease-in-out;
}

.container-the-menus > div:nth-child(3) {
  transition: all 400ms;
  animation: fadein 3s ease-in-out;
  margin-bottom: 18px;
}

.contact-title {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand";
}

.contact-us {
  width: 90%;
  height: calc(100vh - 417px);
  margin: 24px auto 0 auto;
}
.contact-us .contain-social-networks {
  height: 200px;
  background-color: #F7F7F7;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.contact-us .network {
  text-decoration: none;
  color: black;
  font-family: "Roboto";
  font-size: 18px;
}
.contact-us .icon-network {
  font-size: 28px;
  color: #9356DC;
  margin: 0 8px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 992px) {
  .logo-spinner-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #fonctionnement {
    width: 90%;
    height: 230px;
    text-align: center;
    margin: 34px auto 0 auto;
  }
  .infos-in-card {
    text-align: justify;
  }
  .contain-choices-btn {
    flex-direction: row;
    gap: 60px;
  }
  #restaurants {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
  .title-menu-france {
    justify-content: space-evenly;
    width: 25%;
  }
  .restaurant-title {
    width: 85%;
    font-size: 24px;
  }
  .before-page {
    display: none;
  }
  .card-on-index {
    width: 20%;
  }
  .container-the-menus {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contain-menus {
    width: 80%;
    margin: -50px auto 0 auto;
  }
  .little-container {
    width: 40%;
  }
  footer {
    align-items: center;
  }
  .footer-img {
    width: 130px !important;
  }
  ul {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .contact-us {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  .logo-spinner-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contain-choices-btn {
    gap: 20px;
  }
  footer {
    align-items: center;
  }
  ul {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #restaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card-on-index {
    width: 45%;
  }
  .before-page {
    font-size: 22px;
    top: 2%;
  }
  .title-menu-france {
    justify-content: space-evenly;
    width: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
