body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 50px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nav-img {
  width: 160px;
}

.localisation {
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

header {
  background-color: #F6F6F6;
  text-align: center;
  padding: 32px 0;
}

h1 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-size: 26px;
}

.p-in-header {
  font-family: "Roboto";
  margin: 32px 0;
}

.discover-btn {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  padding: 12px 18px;
  border-radius: 30px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 24%, rgb(255, 121, 218) 100%);
}

.discover-btn:hover {
  opacity: 0.8;
  transition: 0.4s;
}

#fonctionnement {
  width: 95%;
  height: 250px;
  margin: 30px auto;
}

h2 {
  font-family: "Shrikhand";
}

.contain-choices-btn {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.word-spacing {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.choice-btn {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: bold;
  color: black;
  width: 90%;
  text-align: center;
  background-color: #F6F6F6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 18px 18px;
  border-radius: 18px;
}

.choice-btn:hover {
  background-color: rgba(146, 86, 220, 0.4117647059);
  transition: 0.4s;
}

#restaurants {
  width: 95%;
  margin: auto;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.restaurant-title {
  width: 90%;
}

.card-on-index {
  text-decoration: none;
  color: black;
  width: 90%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-img {
  width: 100%;
  height: 160px;
  border-radius: 18px 18px 0 0;
  object-fit: cover;
}

.infos-in-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 8px 0;
}

p {
  margin: 0;
}

.hearth {
  font-size: 20px;
  color: rgb(207, 206, 206);
}

.hearth:hover {
  color: #9356DC;
  transition: 0.4s;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  height: 140px;
  margin: 40px 0 0 0;
}

.footer-img {
  width: 80px;
  margin: 18px 14px;
}

.contain-footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 120px;
  width: 90%;
  margin: auto;
}

.footer-link {
  text-decoration: none;
  font-family: "Roboto";
  color: white;
}

.footer-link > i {
  margin: 0 12px 0 0;
}

.before-page {
  position: absolute;
  left: 3%;
  top: 3%;
  font-size: 18px;
  cursor: pointer;
}

.banniere {
  height: 300px;
  width: 100%;
}

.banniere-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.contain-menus {
  background-color: #F6F6F6;
  margin-top: -50px;
  border-radius: 32px 32px 0 0;
}

.title-menu-france {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 8px;
}

.container-the-menus {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.little-container {
  width: 90%;
  background-color: transparent;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.title-of-menu {
  font-family: "Shrikhand";
  border-bottom: 2px solid #99E2D0;
  width: 10%;
}

.menu-link-anim {
  text-decoration: none;
  color: black;
  animation: fadein 2s ease-in-out;
}

.plats {
  font-family: "Roboto";
  background-color: #FFFFFF;
  padding: 12px;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.supp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contain-order-btn {
  text-align: center;
  margin: 50px auto 70px auto;
}

.order-btn {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  padding: 14px 32px;
  border-radius: 30px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 24%, rgb(255, 121, 218) 100%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.order-btn:hover {
  opacity: 0.8;
  transition: 0.4s;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.no-whitespace {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
